// fix CSS conflict between Bulma and Prism
pre code {
  font-size: 0.85em;
  line-height: 1.4;
}

code {
  .number, .tag {
    display: inline;
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    vertical-align: inherit;
    border-radius: inherit;
    font-weight: inherit;
    white-space: inherit;
    background: inherit;
    margin: inherit;
  }

  .title {
    font-size: inherit;
    line-height: inherit;
    word-break: inherit;
    font-weight: inherit;
  }
}
