// Minos
$family-serif = 'Ovo', 'Georgia', 'STZhongsong', 'Microsoft YaHei', serif;
$family-mono = 'Source Code Pro', monospace, 'Microsoft YaHei';
$border-color = #dbdbdb;
// Vuepress theme-blog style
//$contentClass = '.content__default';
// change to article for excerpt
$contentClass = 'article';
// Vuepress core style
// colors
// $accentColor ?= #3eaf7c;
// $textColor ?= #2c3e50;
// $borderColor ?= #eaecef;
// $codeBgColor ?= #282c34;
// $arrowBgColor ?= #ccc;
// $badgeTipColor ?= #42b983;
// $badgeWarningColor ?= darken(#ffe564, 35%);
// $badgeErrorColor ?= #DA5961;
// code
//$lineNumbersWrapperWidth ?= 3.5rem;
//$codeLang ?= js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile;